<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.woods.user.dao.RoleTbDao" >
    <resultMap id="BaseResultMap" type="com.manager.woods.user.model.RoleTb" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="role_level" property="roleLevel" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="roleDesc" property="roleDesc" jdbcType="VARCHAR" />
        <result column="statu" property="statu" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="addRoles" parameterType="com.manager.woods.user.model.RoleTb">
        INSERT INTO  ROLE_TB (
		     ROLE_LEVEL,
		     ROLEDESC,
		     STATU
		)
        values(
            #{roleLevel, jdbcType=VARCHAR},
            #{roleDesc, jdbcType=VARCHAR},
            'U'
            )
    </insert>

    <select id="selectRoles" resultMap="BaseResultMap">
         SELECT
             ROLE_LEVEL,
		     ROLEDESC
          FROM
            ROLE_TB
          WHERE
            STATU = 'U'
    </select>


</mapper>
